* {
  box-sizing: border-box;
}

.main_container {
  display: flex;
  justify-content: space-evenly;
  margin: 40px;
}

.gameboard-grid {
  border-collapse: collapse;
}

.gameboard-grid td.cell {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.ship-cell {
  background: #4caf50;
}

.hit-cell {
  background: red !important;
}

.miss-cell {
  background: lightblue !important;
}
